<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
	"http://java.sun.com/j2ee/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>
 <tlib-version>1.0</tlib-version>
 <jsp-version>1.2</jsp-version>
 <short-name>PrefijoHola</short-name>
   <tag>
   <name>Hola</name>
   <tag-class>com.escom.HolaTag</tag-class>
    <body-content>empty</body-content>
    <description>	Escribe un mensaje bonito UwU</description>
    <attribute>
   <name>mensaje</name>
   <required>true</required>
   <rtexprvalue>true</rtexprvalue>
   </attribute>
   </tag>
 </taglib>

